<!DOCTYPE html>
<html  lang="jp">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<title>SPATIAL SHELL</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type=module>
const $ = (o)=>document.querySelector(o) 
const { createApp } = Vue
let viewWindow 
let config = (await import( './config.js' )).default
console.log(config) 
const objinst = [] ;

async function call(method,param) {
	return await viewWindow.API.call(method,param) 
}

let app= createApp({
	data() {
		return {
			message: 'Hello Vue!',
			back_kind:"pass",
			back_mix:100,
			back_kind_select:config.menu.back_kind_select,
			obj_list:config.menu.obj_list,
			inst_list:[],
			focus_idx:null,
			instsize:10
		}
	},
	methods:{
		async reload() {
			config = (await import('./config.js?'+(new Date().getTime()))).default
			this.back_kind_select = config.menu.back_kind_select
			this.obj_list = config.menu.obj_list
		},
		ev_kind(ev) {
			call("bgtype",{id:this.back_kind})
		},
		ev_mix(ev) {
			call("bgmix",{value:this.back_mix})			
		},

		async add_obj(p) {
			console.log(p)
			app.message = "open "+p.name 
			const up = p.param?p.param:{}
			if(p.ui) for(let ui of p.ui) up[ui.name] = ui.value
			const obj = await call("addobj",{id:p.id,path:p.path,param:up})
			this.inst_list.push( obj )
			console.log(this.inst_list) 
			this.focus(this.inst_list.length-1)
		},
		delobj(idx=null) {
			if(idx===null) {
				idx = this.focus_idx 
				this.focus_idx  = null
			}
			if(idx===null) return 
			console.log("del "+idx) 
			const el = this.inst_list[idx].el 
			call("delobj",this.inst_list[idx])
			this.inst_list.splice(idx,1)
		},
		focus(idx) {
			console.log("focus "+idx) 
			const inst = this.inst_list[idx]
			this.inst_list[idx].focus = true
			for(let i in this.inst_list) {
				this.inst_list[i].focus = i==idx 
				this.inst_list[i].app.hcolor = (i==idx)?"#f88":"#ccc" 
			}
			this.focus_idx = idx 
			this.instsize = this.inst_list[this.focus_idx].app.scale*100
		},
		ev_instsize(ev) {
			if(this.inst_list[this.focus_idx]?.app?.scale) this.inst_list[this.focus_idx].app.scale = ev.target.value/100
		},
	}
})

onload = function() {
	app = app.mount('#left')
	console.log(app) 
	
	viewWindow = $('#view').contentWindow
	console.log(viewWindow) 
	//load from local storage
	const  p = JSON.parse(localStorage.getItem("spatial0")) || {}
//	save()

	function save(param=null) {
		// save to local storage 
		p.time = new Date().getTime() 
		localStorage.setItem("spatial0",JSON.stringify(p))	
		$('#msg').value = "saved"	
	}

	app.message = "loaded"
}

</script>

<style type="text/css">
body,html {
	display:flex ;
	width:100%;
	height:100% ;
	margin: 0;
	background-color:#666 ;
	color:white ;
	font-family: serif ;
	box-sizing:border-box ;
}
div.ui {
	width:cacl(100% - 1rem);
	margin-top:0.5rem ;
	margin-left:1rem ;
}
h1 {
	text-align:center ;
}
h2 {
	margin-left: 1rem ;
}
#msg {
	width: 90% ;
	font-size:0.8rem ;
	color: white ;
	background-color:#222 ;
}
#left{
	width:60vw;
	height:100% ;
	overflow:hidden ;
}
#right{
	flex-grow: 1 ;
	height:100% ;
	overflow:hidden ;
}
[v-cloak] {
	display: none;
}
span.uis {
	margin-left:0.5rem ;
}
li.focus {
	background-color:#644 ;
}
#roll {
	height:70vh ;
	overflow:hidden ;
	overflow-y :scroll ;
}
#debug {
	position: absolute ;
	width:50vw ;
	top: calc(100vh - 6rem) ;	
}
</style>
</head>
<body>
<div id=left>
<h1>SPATIAL SHELL</h1>
<div id=roll>
<h2>background</h2>
<div class=ui>
kind <select id=sel_kind v-model="back_kind" @change="ev_kind" v-cloak >
		<option v-for="sel of back_kind_select" :value="sel.value" >{{sel.title}}</option>
	</select>
mix<input v-model="back_mix" @input="ev_mix" type=range min=0 max=100>
<span v-cloak >{{back_mix}}</span>

</div>
<h2>objects</h2>
<div class=ui>
<ul>
	<li v-for="obj of obj_list" v-cloak ><button class=add @click="add_obj(obj)">ADD</button>&nbsp;{{obj.name}}
	<span v-if="obj.ui" class=oui>
		<span v-for="uis of obj.ui" class=uis>
			<select v-if="uis.type=='select'" v-model="uis.value">
				<option v-for="opt of uis.options" :value="opt.id">{{opt.name}}</option>
			</select>
		<span v-if="uis.type=='range'" class=uis>
		  {{uis.name}}<input type=range v-model="uis.value" :min="uis.min" :max="uis.max"/><span>{{uis.value}}</span>
		</span>
		<span v-if="uis.type=='color'" class=uis>
			{{uis.name}}<input type=color v-model="uis.value" />
		</span>
		<span v-if="uis.type=='text'" class=uis>
			{{uis.name}}<input type=input v-model="uis.value" size=5 />
		</span>
		</span>
	</span>
	</li>
</div>
<h2>instances</h2>
<div class=ui>
	<ul>
		<li v-for="(inst,index) of inst_list" @click="focus(index)" 
			:class="inst.focus?'focus':''">{{inst.time}} {{inst.kind}}</li>
	</ul>
	scale:<input type=range min=1 max=100 v-model="instsize" @input="ev_instsize"><br/>
	<button @click="delobj()">REMOVE</button>
</div>
</div>

<div id=debug class=ui>
	<textarea id=msg readonly v-cloak >{{message}}</textarea><br/>
	<button @click="reload">CONFIG RELOAD</button>
</div>
</div>
<div id=right>
	<iframe id=view src="view.html?1" style="width:100%;height:50%"></iframe>
</div>
</body>
</html>