<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Spatial shell viewer</title>
<script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
<script src="components/grab2.js?2"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type=module>
const $ = (o)=>document.querySelector(o)
const DEBUG = true 
//global API endpoint 
window.API = {} 
window.API.call = async function(method,param) {
	 let ret = null 
	switch(method) {
		case "bgtype":
			APP.bg_kind = param.id
			break
		case "bgmix":
			APP.bg_mix = param.value/100
			break
		case "addobj":
			ret = await APP.addobj(param) 
			break 
		case "delobj":
			$('#base').removeChild(param.el) 
			break ;
	}
	return ret 
}	
// scene vue app
const app= Vue.createApp({
	created() {
	},
	data() {
		return {
			bg_kind:"passthru",
			bg_mix:1,
			posx:0,
			stat_calls:0,
			stat_poly:0
		}
	},
	methods:{
		// create new app instance
		async addobj(param) {
			console.log(param)
			const ImportObj = (await import(param.path+(DEBUG?("?"+new Date().getTime()):""))).default
//			console.log(ImportObj)
			const prop = {
				scale:1,
				basescale:param.param.basescale?param.param.basescale:1, 
				hcolor:"#ccc"
			}
			console.log(prop)
			const propstr = [':pscale="scale*basescale"']
			for(let k in param.param) {
				if(prop[k]) continue 
				prop[k] = param.param[k] ;
				propstr.push( `:${k}="${k}"`)
			}
			console.log(propstr) 
			const app2 = Vue.createApp({
				data() {
					return prop
				},
				components: { ImportObj },
				template: `<a-box width=0.02 height=0.02 depth=0.02  :color="hcolor" opacity=0.8  grabbable2="distance:.04" ss_grabbase>
					<a-entity position="0 0.01 0" >
						<ImportObj ${propstr.join(" ")} ></ImportObj>
					</a-entity>
				</a-box>`
			})
			const el = document.createElement("a-entity")
			let posy = document.querySelector("[camera]").object3D.position.y	
			if(posy==0) posy=1
			el.setAttribute("position",`${this.posx} ${posy} 0`)
			this.posx += 0.1 
			if(this.posx > 0.3) this.posx -= 0.58

			const appinst = app2.mount(el)
			$('#base').appendChild(el) 
			return {id:param.id,app:appinst,el:el,time:new Date().getTime()}
		}
	}
})


onload = function() {
	$('a-scene').addEventListener("loaded",ev=>{
		console.log("scene loaded")
		window.APP = app.mount('#reactive') // set global APP reference
		parent.sceneloaded() 
	})
}//onload

// A-Frame components 
AFRAME.registerComponent('stat', {
	tick:function() {
		if(!APP) return 
		let info = this.el.sceneEl.renderer.info.render
		APP.stat_calls = info.calls 
		APP.stat_poly = info.triangles 
	}	
})
AFRAME.registerComponent('ss_grabbase', {
	init:function() {
		this.el.addEventListener("grab",ev=>{
			console.log("grabbed!")
			console.log(ev.detail) 
		})
	},
})
// set VR mode height
AFRAME.registerComponent('vrheight', {
	schema:{
		height:{type:"number",default:1.5}
	},
	init:function() {
		const scene = this.el.sceneEl
		const camrig = this.el 
		let objpos,camrigpos
		if(!camrig) return 
		scene.addEventListener("enter-vr", ev=>{
			camrigpos = camrig.getAttribute("position").clone()
			objpos = $('#base').getAttribute("position").clone()
			camrig.setAttribute("position", {x:camrigpos.x,y:0,z:camrigpos.z})
		})
		scene.addEventListener("exit-vr", ev=>{
			camrig.setAttribute("position",camrigpos)
		})
	}
})
// hide when AR mode 
AFRAME.registerComponent('noar',{
	init:function() {
		const sc = this.el.sceneEl
		sc.addEventListener("enter-vr", ev=>{
			if(sc.states=="vr-mode") return
			this.el.setAttribute("visible",false )
		})
		sc.addEventListener("exit-vr", ev=>{
			this.el.setAttribute("visible",true )
		})
	}
})
</script>
<style>
html,body {
	width:100% ;
	height:100% ;
	margin:0 ;
}
#stat {
	position:absolute ;
	width:40rem ;
	height:2rem ;
	background-color:black ;
	color:white ;
	z-index:100;
}
</style>
</head>
<body>

<a-scene  xr-mode-ui="XRMode:ar" stat>
	<a-assets>
			<img id="floortex" src="assets/tex1024.png">
			<img id="photo360" src="assets/IMG_20200104_162551_tamako.jpg">
	</a-assets>

<!--reactive objects-->
<a-entity id=reactive>
	<div id=stat>stat {{stat_calls}}calls {{stat_poly}}△	</div>
	
	<!--app base -->
	<a-entity id=base  position="0 0 -0.3"  scale="1 1 1" rotation="0 0 0">
	</a-entity>
	<!-- background -->
	<a-entity id=background>
		<a-entity v-if="bg_kind=='space'" id=bg_space >
			<!--floor-->
			<a-plane  position="0 -0.001 0" rotation="-90 0 0" width="200" height="200" color="#444" :material="`shader:flat;repeat:20 20;src:#floortex;transparent:true;opacity:${bg_mix}`"></a-plane>
			<!--sky-->
			<a-sky  :material="`shader:flat;color:#446;transparent:true;opacity:${bg_mix}`" radius="110" segments-height="6" segments-width="12"></a-sky>
		</a-entity>
		<a-entity id=bg_photo v-if="bg_kind=='p360'" >
			<a-sky :material="`shader:flat;transparent:true;opacity:${bg_mix};src:#photo360;repeat:-1 1`" radius="110" segments-height="20" segments-width="40" rotation="0 90 0"></a-sky>
		</a-entity>	
	</a-entity>
	
	<!--lights-->
	<a-entity id=light>
		<a-entity light="type: ambient; color: #888"></a-entity>
		<a-entity light="type: directional; color: #FFF; intensity: 0.6; castShadow:false;" position="-0.5 1 1"></a-entity>
	</a-entity>
</a-entity>

	<!--camera-->
	<a-entity id="camrig"  position="0 1.2 0" vrheight > 
		<a-entity id="camera" camera  look-controls wasd-controls></a-entity>
		<!--vr controller-->
		<a-entity oculus-touch-controls="hand: left; model:false"  grab2 ></a-entity>
		<a-entity oculus-touch-controls="hand: right; model:true"  grab2 ></a-entity>
		<a-entity id=hand_l hand-tracking-controls="hand: left" grab2="realhand:true"></a-entity>
		<a-entity id=hand_r hand-tracking-controls="hand: right" grab2="realhand:true"></a-entity>
	</a-entity>
</a-scene>

</body>
</html>
